@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
// $default-font-size: 1.6rem;
// $big-font-size: 4rem;
// 2.5rem: 2.5rem;

h1 {
  font-weight: 700;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .section-title {
    font-size: 2.8rem;
    color: springgreen;
  }
}

.dark-blue-text {
  color: #272341 !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, black 0%, black 100%);
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: black;
  // Responsive text purple style
  //@include respond(phone) {
    // background-image: none;
    // -webkit-text-fill-color: $secondary-color;
  //}

  &:hover {
    transform: translateX(2px);
  }
}

